*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    /*color palette*/
    --maincolor: #241c4a;
    --secondary: #f15a22;
    --tertiary: white;
    --bloop: #00aeef;
    --floop: rgba(136, 10, 10, 0.76);
}

main{
    height: 100%;
    width: 100%;
}

h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate3d(-50%, -50%, 0);
}

.wrap {
    height: 100%;  
    position: relative;
    overflow: hidden;
}

.greenBack {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: -10;
    background: url(../assets/images/depth-1.png) no-repeat center;
    background-size: cover;
    transform: scale(1.1);
}

.grapeBack {
    width: 50%;
    height: 50%;
    position: relative;
    top: 15%;
    left: -8%;
    transform: translate(-50%, -50%);
    z-index: -5;
    background: url(../assets/images/depth-3.png) no-repeat center;
    background-size: cover;
    transform: scale(1.1);
    max-width: 100%; 
    transform: rotateZ(340deg);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-self: center;
    text-align: center;
}

/*Background Video*/
#vid{
    object-fit: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    }

/* NAV ICON MOVE */
.nav-item{
    font-family: "poppins";
    font-weight: bolder;
    color: var(--maincolor);
    padding: 15px;
    background-color: hidden;
}

.logo{
    width: 100px;
    height: 100px;
}

.nav-item .i{
    opacity: 0;
}

.nav-link:hover{
color: var(--bloop);
}

.nav-link:hover .i{
color: var(--secondary);
transition-delay: .1s;
transition-duration: .5s;
transform:translateX(20px);
opacity: 1;
}

.nav-link:hover #home{
    color: green;
    transition-delay: .1s;
    transition-duration: .5s;
    transform:translateX(20px);
}

.nav-link:hover #glass{
color: var(--floop);
transition-delay: .1s;
transition-duration: .5s;
transform:translateX(20px);
}

.nav-link:hover #plane{
color: gold;
transition-delay: .1s;
transition-duration: .5s;
transform:translateX(20px);
}

/*Main Header*/
#mainHead{
    display: flex;
font-family: 'Stint Ultra Condensed', cursive;
}

#secondaryHead{
    font-family: 'Exo2', cursive;
    color: white;
}


/*Our Story*/
.carouselContent{
    color: black;
    font-family: "exo2";
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    background-color: gold;
    padding: 15px;
}

.carousel-inner img {
    margin: auto;
    width: 450px;
  }

.carouselSlideName{
position: relative;
display: flex;
flex-wrap: wrap;
color: black;
font-family: "Stint Ultra Condensed", cursive;
background: linear-gradient(to right, gold, transparent 30%)
}

/*Contact*/
.aL{
    font-size: 40px;
    text-decoration: none;
    color: var(--floop);
}

.aL:hover{
    color: gold;
    transition-delay: .1s;
    transition-duration: .5s;
    transform:translateX(20px);
}

.aL:hover i{
color: gold;
transition-delay: .1s;
transition-duration: .5s;
transform:translateX(-20px);
}

.connect{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.connect h3{
    display: flex;
    font-family: 'Stint Ultra Condensed', cursive;
    color: white; 
    font-size: 100px;
}


/* CHANGE ON SCREEN SIZE*/
@media screen and (min-width: 600px) {
    #mainHead {
    font-size: 400px;
}
#secondaryHead {
    font-size: 35px;
    position: relative;
    top: ;
}
    .grapeBack {
        height: 750px;
        width: 715px;
    }
}

/* If screen size is 1200px wide, or less*/
 @media screen and (max-width: 1200px) {
    #mainHead {
      font-size: 200px;
}
#secondaryHead{
    font-size: 24px;
    position: relative;
    top:-150px
}
}

/* If screen size is 600px wide, or less*/
@media screen and (max-width: 600px) {
    #mainHead {
      font-size: 90px;
}
#secondaryHead{
    font-size: 20px; 
    position: relative;
    top: 35px;
 }
}

